[Unit]
Description=honeypot daemon

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/honeypot/sniff.py &
Restart=always

[Install]
WantedBy=multi-user.service
