[Unit]
Description=honeypot daemon

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/honeypot/sniff.py
KillSignal=SIGINT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.service
